img{
    float: right;
    width: 300px;
    height: 300px;
}
 div{
    text-align: right;
 }
 hr{
    color : 10px solid black  ;
 }
 dt{
    color: red;
    font-size: 120%;

 }
 .li{
    color: blue;
 }
